// variables

$primary: rgb(44, 31, 66);
$secondary: rgb(33, 26, 46);
$tertiary: rgb(54, 36, 83);

$blueGreen: rgb(26, 246, 246);
$green: rgb(0, 255, 179);
$redViolet: rgb(255, 0, 98);
$yellow: rgb(255, 204, 63);

$white: #fff;

// imports

@import './mixin.scss';
@import './anim.scss';

// globals

.overflowHidden {
  overflow-y: hidden;
}

.sp-only {
  display: none;
  @include sp {
    display: block;
  }
}

.sp-none {
  display: block;
  @include sp {
    display: none;
  }
}

.search-sp {
  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.pokeball {
  width: 80px;
  height: auto;
  animation: pokeball 3s infinite linear;
}

.web-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 10;
  background-color: $primary;
  @include center;
  flex-direction: column;
  transition: all 300ms ease;

  img {
    margin-bottom: 10px;
  }

  &--done {
    opacity: 0;
    visibility: hidden;
  }
}

.text {
  font-size: 1.4rem;
  color: $white;
  line-height: 1.6;
  transform: all 200ms ease;

  &--12 {
    font-size: 1.2rem;
  }

  &--20 {
    font-size: 2rem;
    text-shadow: 1px 0px 14px rgb(95, 37, 255);
    @include sp {
      font-size: 1.5rem;
    }
  }

  &--25 {
    font-size: 2.5rem;
    @include sp {
      font-size: 1.8rem;
    }
  }

  &--30 {
    font-size: 3rem;
  }

  &--white {
    color: $white;
    text-shadow: 1px 0px 10px rgba(255, 184, 217, 0.6);
  }

  &--yellow {
    color: $yellow;
    text-shadow: 1px 0px 14px rgb(95, 37, 255);
  }

  &--intro {
    &-hide {
      max-height: 0;
      opacity: 0;
    }
  }

  &--mb20 {
    margin-bottom: 20px;
  }

  &--mb50 {
    margin-bottom: 50px;
  }

  &--mb100 {
    margin-bottom: 100px;
  }
}

a.text--white:hover {
  text-shadow: 1px 0px 10px rgba(255, 243, 71, 1);
}

.logo {
  width: 80%;
  transition: all 50ms ease;

  &--hide {
    opacity: 0;
    max-height: 0;
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid $secondary;
  position: relative;

  &--remove {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 3px solid;
    border-color: $blueGreen transparent transparent transparent;
    animation: loader 1s infinite linear;
  }
}

.load-more {
  width: 60%;
  margin: 30px 0;
  padding: 20px 0;
  text-align: center;
  color: $white;
  text-shadow: 1px 0px 14px rgba(255, 76, 207, 1);
  font-size: 2.5rem;
  background-color: $primary;
  transition: all 200ms ease-in;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  @include tablet {
    width: 90%;
  }

  &:hover {
    background-color: $tertiary;
  }
}

input.pokemon-search {
  margin: 0;
  width: 80%;
  margin: 15px 0 20px;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  transition: all 200ms ease-in;

  &:focus {
    outline: none;
    box-shadow: 0 0 25px -5px rgba(255, 76, 207, 0.6);
  }
}

// scrollbar for body

body::-webkit-scrollbar {
  width: 1.5em;
}
 
body::-webkit-scrollbar-track {
  background-color: $secondary;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $redViolet;
}

// vue typer

.vue-typer {
  .custom.char {
    color: $white;
    font-size: 2rem;
  }
}

.pokemon-data__label {
  color: $redViolet;
  font-size: 2.5rem;
  text-shadow: 1px 0px 14px rgba(240, 220, 230, 0.4);
  margin-right: 10px;
  @include sp {
    font-size: 2rem;
  }

  &--mb25 {
    margin-bottom: 25px;
  }
}

.pokemon-data__info {
  .vue-typer {
    .custom.char {
      color: $white;
      font-size: 2.5rem;
      text-shadow: 1px 0px 14px rgba(255, 76, 207, 1);
      @include sp {
        font-size: 2rem;
      }
    }
  }
}

// pokemon Data holder

.pokemon-data {
  width: 59%;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px 0 0;
  @include tablet {
    width: 100%;
  }

  // scrollbar for data section

  &::-webkit-scrollbar {
    width: 1.5em;
    @include tablet {
      width: 1em;
    }
  }
   
  &::-webkit-scrollbar-track {
    background-color: $secondary;
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $redViolet;
  }

  &__title {
    font-size: 8rem;
    color: $yellow;
    text-shadow: 1px 0px 14px rgb(218, 115, 166);
    margin-bottom: 50px;
    @include tablet {
      font-size: 6rem;
      margin-bottom: 20px;
    }
    @include sp {
      font-size: 4rem;
      text-shadow: 1px 0px 10px rgb(218, 115, 166);
    }
  }

  &__subtitle {
    font-size: 4rem;
    color: $yellow;
    text-shadow: 1px 0px 14px rgba(255, 76, 207, 1);
    margin: 60px 0 40px;
    @include tablet {
      font-size: 3rem;
      margin: 30px 0;
    }
  }

  &-ability {
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 30px;
    }
  }

  &-row {
    display: flex;
    letter-spacing: 2px;
    margin-bottom: 15px;

    &--name {
      .pokemon-data__info {
        .vue-typer {
          .custom.char {
            font-size: 4rem;
            @include tablet {
              font-size: 3rem;
            }
            @include sp {
              font-size: 2rem;
            }
          }
        }
      }

      .pokemon-data__label {
        font-size: 4rem;
        @include tablet {
          font-size: 3rem;
        }
        @include sp {
          font-size: 2rem;
        }
      }
    }
  }

  .text {
    color: $white !important;
  }

  &-holder {
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 23, 27, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 5;
    display: none;
    @include sp {
      background-color: rgba(31, 23, 27, 0.9);
    }
  
    &--active {
      display: block;
    }
  }

  &-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 50px;
    @include tablet {
      position: relative;
      flex-direction: column;
      align-items: center;
    }
    @include sp {
      padding: 20px;
    }
  }

  &-image {
    position: absolute;
    left: auto;
    top: 22%;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 60%;
    height: auto;
    z-index: 2;
    animation: pokeballUpper 0.3s forwards ease-in;
    @include tablet {
      top: 0;
      bottom: auto;
      left: 0;
      right: auto;
      width: 20vw;
      animation: pokeballUpperSP 0.5s forwards ease-in;
    }

    &--bottom {
      top: auto;
      bottom: 25%;
      z-index: 1;
      animation: pokeBallLower 0.3s forwards ease-in;
      @include tablet {
        top: auto;
        bottom: 5vw;
        right: 0;
        left: auto;
        animation: pokeBallLowerSP 0.3s forwards ease-in;
      }
    }

    &-main {
      width: 40%;
      height: auto;
      opacity: 0;
      animation: pokemonShow 1s forwards;
      animation-delay: 0.5s;
      @include tablet {
        width: 25vw;
      }
      @include sp {
        width: 40vw;
      }
    }

    &-container {
      width: 40%;
      height: 100%;
      position: relative;
      @include center;
      @include tablet {
        width: 100%;
        height: 50vw;
      }
    }
  }
}

// content

.container {
  background-color: $secondary;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  @include sp {
    flex-direction: column;
    justify-items: flex-start;
  }
}

.left-panel {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 5px 35px 20px;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  overflow-y: auto;
  @include tablet {
    width: 35%;
  }
  @include sp {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 5%;
  }

  &--fixed {
    position: fixed;
    padding: 0 3%;
    z-index: 9;
    background-color: $secondary;
    width: 100vw;
    min-width: 100vw;
    height: 80px;

    .pokemon-search {
      width: 60%;
    }
  }

  &::-webkit-scrollbar {
    width: 1em;
  }
   
  &::-webkit-scrollbar-track {
    background-color: $secondary;
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }

  img {
    width: 100%;
    margin-bottom: 10px;
    @include sp {
      width: 70%;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    max-height: 1000px;
    transition: all 300ms ease-in;

    &--hide {
      max-height: 0;
      opacity: 0;
      margin-bottom: 0;
    }

    .text {
      text-shadow: 1px 0px 14px rgba(255, 76, 207, 1);
    }
  }
}

.card {
  width: 22%;
  height: 20vw;
  margin: 15px 1%;
  background-color: $primary;
  box-shadow: 13px 13px 5px -8px rgba(96, 157, 168, 0.3);
  transition: all 200ms ease-in;
  cursor: pointer;
  position: relative;
  @include tablet {
    width: 47%;
    margin: 15px 1%;
    height: 35vw;
    box-shadow: 13px 13px 5px -8px rgba(80, 190, 209, 0.5);
  }
  @include sp {
    height: 60vw;
    box-shadow: 10px 10px 5px -8px rgba(80, 190, 209, 0.5);
  }

  &::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: rgba(96, 157, 168, 0.3);
    top: 20px;
    left: auto;
    bottom: auto;
    right: 50%;
    transform: translateX(50%);
    transition: all 200ms ease;
    @include tablet {
      background-color: rgba(80, 190, 209, 0.6);
      box-shadow: 0 0 15px -1px rgba(161, 241, 255, 0.6);
    }
  }

  &:hover {
    box-shadow: 13px 13px 5px -8px rgba(80, 190, 209, 0.6);

    img {
      opacity: 1;
    }

    &::before {
      background-color: rgba(80, 190, 209, 0.6);
      box-shadow: 0 0 15px -1px rgba(161, 241, 255, 0.6);
    }
  }

  &:nth-of-type(3n+1) {
    box-shadow: 13px 13px 5px -8px rgba(168, 96, 140, 0.3);
    @include tablet {
      box-shadow: 13px 13px 5px -8px rgba(168, 96, 140, 0.6);
    }
    @include sp {
      box-shadow: 10px 10px 5px -8px rgba(168, 96, 140, 0.6);
    }

    &::before {
      background-color: rgba(168, 96, 140, 0.3);
      @include tablet {
        background-color: rgba(168, 96, 140, 0.8);
        box-shadow: 0 0 15px -1px rgba(255, 118, 202, 0.8);
      }
    }

    &:hover {
      box-shadow: 13px 13px 5px -8px rgba(168, 96, 140, 0.8);

      &::before {
        background-color: rgba(168, 96, 140, 0.8);
        box-shadow: 0 0 15px -1px rgba(255, 118, 202, 0.8);
      }  
    }
  }

  &:nth-of-type(5n+1) {
    box-shadow: 13px 13px 5px -8px rgba(207, 194, 118, 0.3);
    @include tablet {
      box-shadow: 13px 13px 5px -8px rgba(207, 194, 118, 0.6);
    }
    @include sp {
      box-shadow: 10px 10px 5px -8px rgba(207, 194, 118, 0.6);
    }

    &::before {
      background-color: rgba(207, 194, 118, 0.3);
      @include tablet {
        background-color: rgba(207, 194, 118, 0.7);
        box-shadow: 0 0 15px -1px rgba(255, 240, 158, 0.7);
      }
    }

    &:hover {
      box-shadow: 13px 13px 5px -8px rgba(207, 194, 118, 0.8);

      &::before {
        background-color: rgba(207, 194, 118, 0.7);
        box-shadow: 0 0 15px -1px rgba(255, 240, 158, 0.7);
      }
    }
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 5% 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sp {
      justify-content: flex-end;
      padding-bottom: 7vw;
    }
  }

  img {
    width: 70%;
    height: auto;
    margin-bottom: 5px;
    opacity: 0.8;
    transition: all 200ms ease-in;
  }

  .text {
    text-shadow: 1px 0px 14px rgba(255, 76, 207, 1);
  }

  &-container {
    width: 75%;
    height: auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 65%;
      padding: 25px 0;
    }
    @include sp {
      width: 100%;
      padding: 0 5% 35px;
    }
  }

  &-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
  }
}
