@mixin sp {
  @media screen and (max-width: 640px){
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1100px){
    @content;
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}